html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: auto;
    width: 90%;
    background: hsl(220, 100%, 50%);
    background: linear-gradient(90deg, rgba(0,86,255,1) 0%, rgba(0,138,233,1) 100%);
    transform: scale(0.9);
}

.header {
    width: 400px;
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    color: white;
    margin: 15px auto 40px;
    line-height: 0.85;
}

.formContainer {
    max-width: 550px;
    margin: 40px auto;
}

.footer {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: 0 0 40px;
}